header {
  position: relative;
  overflow: hidden;
}

header img {
  width: 100%;
  height: 70vh;
  object-fit: cover;
  transition: opacity 1s ease; /* ทำให้เปลี่ยนภาพเนียน */
}

#img-form {
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: white;
  font-size: 14px;
  background: rgba(0, 0, 0, 0.5);
  padding: 5px 10px;
  border-radius: 5px;
}
